<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сообщения Telegram</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Список сообщений</h1>
    <ul>
        {% for message in messages %}
            <li>
                <p><strong>{{ message.sender_name }}</strong>: {{ message.message_text }}</p>
                <small>ID отправителя: {{ message.sender_id }}</small>
                <p><strong>Ответ от OpenAI:</strong> {{ message.openai_response }}</p>
                 <small>Чат: {{ message.chat_title }} (Тип: {{ message.chat_type }})</small>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

